---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Head.astro"

const ogImageUrl = new URL(
`/og/${Astro.props.id.replace(/\.\w+$/, '.png')}`,
  Astro.site,
)

// Get the custom meta title if it exists, otherwise use the page title
const metaTitle = Astro.props.entry.data.metaTitle || Astro.props.entry.data.title;
---

<!-- Remove the default title tag from Starlight -->
<Default {...Astro.props}><slot /></Default>

<!-- Add your custom title tag -->
<title>{metaTitle}{Astro.props.lang === 'en' ? '' : ` - ${Astro.props.lang}`}</title>

{
  Astro.props.entry.data.image
  ? (
    <meta property="og:image" content={new URL(Astro.props.entry.data.image, Astro.site)} /> 
    <meta name="twitter:image" content={new URL(Astro.props.entry.data.image, Astro.site)} />
  )
  : (
    <meta property="og:image" content={ogImageUrl} />
    <meta name="twitter:image" content={ogImageUrl} />
  )
}

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-QF2CWF97TK"></script>

<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QF2CWF97TK');
</script>

<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  >
  </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->